<!-- Modal pour affictation team or cmrcl -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ prospect.id }}">
	<i class="fa fa-paper-plane" aria-hidden="true"></i>
</button>
<div class="modal fade" id="exampleModal{{ prospect.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Prospect du Mr:
					{{ prospect.nom }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% set url = path('app_affect_edit', {'id': prospect.id}) %}
			{{ form_start(form, {'action':url}) }}

			{{ form_row(form ) }}
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				<button class="btn btn-primary">{{ button_label|default('Save') }}</button>

			</div>
			{{form_end(form)}}
		</div>
	</div>

</div>
