<!-- Modal pour affictation team or cmrcl -->

<button type="button" class="btn " data-toggle="modal" data-target="#etatModal{{ contrat.id }}">

	{% if contrat.etat == 'EN-COURS' %}
		<i class="fa fa-circle-check text-success fa-2x" title="En cours"></i>
	{% elseif contrat.etat == 'ANNULE' %}
		<i class="fa fa-ban text-danger fa-2x" title="Annulé"></i>
	{% elseif contrat.etat == 'SUSPENDU' %}
		<i class="fa-solid fa-triangle-exclamation text-warning fa-2x" title="Suspendu"></i>

	{% elseif contrat.etat == 'RESILIE' %}
		<i class="fa  fa-file-circle-xmark text-info fa-2x" title="RESILIE"></i>
	{% elseif contrat.etat == null %}
		<i class="fa-solid fa-circle-question text-muted fa-2x" title="État non défini"></i>

	{% endif %}
</button>

<div class="modal fade" id="etatModal{{ contrat.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">contrat du  :
					{{ contrat.nom }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% set url = path('app_contrat_etat', {'id': contrat.id}) %}
			{{ form_start(form, {'action':url}) }}

			{{ form_row(form.etat, {'attr': {'class': 'contrat_team'}}) }}

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
