{% extends 'base.html.twig' %}

{% block title %}Hello StatController!
{% endblock %}

{% block body %}
	{# Template Twig #}
	{% if formSubmitted %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Équipe</th>
					<th>Comercial</th>
					<th>Partenaire</th>
					<th>Contrats</th>
					<th>Cotisation</th>
				</tr>
			</thead>
			<tbody>
				{% for teamEntry in teamData %}
					{% set firstUser = true %}

					{% for userEntry in teamEntry.users %}
						{% set firstPartner = true %}

						{% for nom, details in userEntry.partenaires %}
							<tr>
								{% if firstUser and firstPartner %}
									<td rowspan="{{ teamEntry.totalRows }}">{{ teamEntry.team.name }}</td>
								{% endif %}

								{% if firstPartner %}
									<td rowspan="{{ userEntry.rowspan }}">{{ userEntry.user.username }}</td>
								{% endif %}

								<td>{{ nom }}</td>
								<td>{{ details.count }}</td>
								<td>{{ details.cotisation|number_format(2, ',', ' ') }}
									€</td>
							</tr>

							{% set firstPartner = false %}
							{% set firstUser = false %}
						{% endfor %}
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>

	{% endblock %}
