{% extends 'base.html.twig' %}

{% block title %}Hello StatController!
{% endblock %}

{% block body %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Equipe</th>
				<th>Utilisateur</th>
				<th>Partenaire</th>
				<th>Nombre de contrats</th>
				<th>Chiffre d'affaires (€)</th>
			</tr>
		</thead>
		<tbody>
			{% for teamName, users in data %}
				{% set teamPrinted = false %}
				{% for row in users %}
					{% set user = row.user %}
					{% set partenaires = row.partenaires %}

					{% for partenaire, infos in partenaires %}
						<tr>
							{% if not teamPrinted %}
								<td rowspan="{{ users|length * partenaires|length }}">{{ teamName }}</td>
								{% set teamPrinted = true %}
							{% endif %}
							<td>{{ user.username }}</td>
							<td>{{ partenaire }}</td>
							<td>{{ infos.nombre_contrats }}</td>
							<td>{{ infos.total_cotisation|number_format(2, ',', ' ') }}</td>
						</tr>
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
