{# client/_contracts_list.html.twig #}
<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>État</th>
				<th>Utilisateur</th>
				<th>Produit</th>
				<th>Immatriculation</th>
				<th>Date Effet</th>
				<th>Date Souscription</th>
				<th>Partenaire</th>
				<th>Compagnie</th>
				<th>Formule</th>
				<th>Cotisation</th>
				<th>Frais</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for contrat in contracts %}
				<tr class="expandable-row contrat-row" data-contrat-id="{{ contrat.id }}">
					<td class="text-center">{{ loop.index }}</td>
					{% if is_granted('ROLE_ETATCONTRAT') %}
						<td>{{ contrat.etat }}{{ render(controller('App\\Controller\\ContratController::etat',{'id':contrat.id}))}}</td>
					{% else %}
						<td>{{ contrat.etat }}</td>
					{% endif %}
					<td>{{ contrat.user }}</td>
					<td>{{ contrat.product }}</td>
					<td>{{ contrat.imatriclt }}</td>
					<td>{{ contrat.dateEffet ? contrat.dateEffet|date('Y-m-d') : '' }}</td>
					<td>{{ contrat.dateSouscrpt ? contrat.dateSouscrpt|date('Y-m-d') : '' }}</td>
					<td>{{ contrat.partenaire ? contrat.partenaire.nom : '' }}</td>
					<td>{{ contrat.compagnie ? contrat.compagnie.nom : '' }}</td>
					<td>{{ contrat.formule }}</td>
					<td>{{ contrat.cotisation }}</td>
					<td>{{ contrat.frais }}</td>
					<td class="btn-toolbar">
						{% if contrat.payments %}
							{{ render(controller('App\\Controller\\PaymentController::editpayment', {'id': contrat.id})) }}
						{% else %}
							{{ render(controller('App\\Controller\\PaymentController::newpayment', {'id': contrat.id})) }}
						{% endif %}

						&emsp;
						<a href="{{ path('contrat_sav_new', {'id': contrat.id}) }}" class="btn btn-sm btn-outline-primary" title="Ajouter SAV">
							+ SAV
						</a>
						{% if contrat.document and is_granted('ROLE_DOCUMENT_EDIT') %}
							<a href="{{ path('app_document_edit', {'id': contrat.document.id}) }}" class="btn btn-info btn-sm">
								<i class="fa-solid fa-copy"></i>
							</a>
						{% endif %}
					</td>
				</tr>
				<!-- Ligne pour les SAV (initialement cachée) -->
				<tr class="expanded-content sav-row" style="display: none;">
					<td colspan="13">
						<div class="loading">Cliquez pour charger les SAV...</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="13" class="text-center">Aucun contrat trouvé pour ce client.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
