<div class="search-form">
	{{ form_start(search_form) }}

	<div class="row align-items-center">

		<div class="col-md-1">
			<div class="form-group">
				{{ form_row(search_form.f, {attr: {class: 'form-control', 'placeholder': ' Nom...'}}) }}
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				{{ form_row(search_form.l, {attr: {class: 'form-control', 'placeholder': ' Prénom...'}}) }}
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				{{ form_row(search_form.g, {attr: {class: 'form-control', 'placeholder': ' E-mail...'}}) }}
			</div>
		</div>

		<div class="col-md-1">
			<div class="form-group">
				{{ form_row(search_form.t, {attr: {class: 'form-control', 'placeholder': ' Téléphone...'}}) }}
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				{{ form_row(search_form.r, {attr: {class: 'form-control', 'placeholder': ' Raison sociale...'}}) }}
			</div>
		</div>

		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CHEF')  == true %}

			<div class="col-md-1">
				<div class="form-group">
					{{ form_row(search_form.k, {attr: {class: 'form-control', 'placeholder': ' Commercial...'}}) }}
				</div>
			</div>
		{% else %}
			<div style="display: none;">

				{{ form_row(search_form.k) }}
			</div>
		{% endif %}
		{% if is_granted('ROLE_ADMIN')  or is_granted('ROLE_CHEF')   == true %}
			<div class="col-md-1">
				<div class="form-group">
					{{ form_row(search_form.team, {attr: {class: 'form-control', 'placeholder': ' Equipe...'}}) }}
				</div>
			</div>
		{% else %}
			<div style="display: none;">

				{{ form_row(search_form.team) }}
			</div>
		{% endif %}

		<div class="col-md-2 text-center">
			<div class="button-group">
				<button class="btn btn-primary search-btn" type="submit" title="Rechercher">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
				<button class="btn btn-info" type="button" onclick="history.go(-1)" title="Retour">
					<i class="fa fa-undo" aria-hidden="true"></i>
				</button>
				<button class="btn btn-warning" type="reset" id="reset-button" title="Vider les champs">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-md-1">
			<div class="form-group">
				{{ form_row(search_form.d) }}
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				{{ form_row(search_form.dd) }}
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				{{ form_row(search_form.dr) }}
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				{{ form_row(search_form.ddr) }}
			</div>
		</div>
	</div>
	{{ form_end(search_form) }}


</div>
<script>
	document.getElementById("reset-button").addEventListener("click", function () { // Réinitialisez les paramètres de l'URL à vide
window.location.href = window.location.pathname;
});
</script>
