<div class="card p-4">

	<h4 class="mb ">
		<i class="fa fa-plus-square"></i>

		{{ form_title|default('  Ajouter une prospect') }}
	</h4>
	<div class="col-sm-2 col-sm-2 control-label"></div>
	<div class="col-sm-8">
		{% if not form.vars.valid %}
			<ul class="alert-danger">
				{% for child in form.children %}
					{% if child.vars.errors is defined %}
						{% for error in child.vars.errors %}
							<li>{{ error.message }}</li>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	</div>

	{{ form_start(form) }}

	<!-- Ligne 1 -->
	<div class="form-group row">
		<div class="col-sm-2">
			{{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-sm-2">
			{{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-sm-2">
			{{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-sm-2">
			{{ form_row(form.gsm, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>

	</div>

	<!-- Ligne 2 -->
	<div class="form-group row">

		<div class="col-sm-2">
			{{ form_row(form.brithAt, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-sm-2">
			{{ form_row(form.gender, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-sm-2">
			{{ form_row(form.codePost, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-sm-1">
			{{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-sm-5">
			{{ form_row(form.adress, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<!-- Autres champs -->
	<div class="form-group row">
		<div class="col-sm-3">
			{{ form_row(form.product, {'attr': {'class': 'form-control', 'id': 'product'}}) }}
		</div>
		<div class="col-sm-3">
			{{ form_row(form.typeProspect, {'attr': {'class': 'form-control', 'id': 'typeProspect'}}) }}
		</div>
		<div class="col-sm-3" id="subcategory-activite" style="display: none">
			{{ form_row(form.activites, {'attr': {'class': 'form-control', 'id': 'activites'}}) }}
		</div>
		<div class="col-sm-3" id="subcategory-container" style="display: none">
			{{ form_row(form.raisonSociale, {'attr': {'class': 'form-control', 'id': 'raisonSociale'}}) }}
		</div>

		<div class="col-sm-3">
			{{ form_row(form.motifSaise, {'attr': {'class': 'form-control', 'id': 'motifSaise'}}) }}
		</div>
		<div class="col-sm-3">
			{{ form_row(form.assurer, {'attr': {'class': 'form-control', 'id': 'assurer'}}) }}
		</div>
		<div class="col-sm-3">
			{{ form_row(form.lastAssure, {'attr': {'class': 'form-control', 'id': 'lastAssure'}}) }}
		</div>
		<div class="col-sm-3" id="subcategory-motif" style="display: none">
			{{ form_row(form.motifResil, {'attr': {'class': 'form-control', 'id': 'motifResil'}}) }}
		</div>
		<div class="col-sm-3">
			{{ form_row(form.team, {'attr': {'class': 'form-control', 'id': 'team'}}) }}
		</div>
		<div class="col-sm-3">
			{{ form_row(form.comrcl, {'attr': {'class': 'form-control', 'id': 'comrcl'}}) }}
		</div>

	</div>


	<!-- Boutons de soumission -->
	<div class="form-group col-sm-12 text-center">
		<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
		<a href="{{ path('app_prospect_index') }}">
			<button type="button" class="btn btn-info">Retour
			</button>
		</a>
	</div>

	{{ form_end(form) }}
</div>
