{% extends 'base.html.twig' %}

{% block title %}Information du
	{{ prospect.nom }}
	{{ prospect.prenom }}- Aksam
{% endblock %}

{% block body %}
	{% for label,  messages in app.flashes  %}
		<div class="container">
			<div class="alert alert-{{ label }}">
				{% for message in messages %}
					{{ message | raw }}
				{% endfor %}

			</div>
		</div>
	{% endfor %}
	<div class="col-lg-12">
		<section class="content-header">
			<h1>
				Prospect du
				<b>{{ prospect.nom }}
					{{ prospect.prenom }}
				</b>

			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="#">
						<i class="fa fa-users"></i>
						Toutes les Tables</a>
				</li>
				<li>
					<a href="{{ path('app_prospect_index') }}">
						<i class="fa fa-diamond"></i>
						Toutes les prospects</a>
				</li>
				<li class="active">
					<i class="fa fa-user-circle"></i>
					{{ prospect.nom }}
					{{ prospect.prenom }}</li>
			</ol>
		</section>
		<div class="form-group col-sm-4">
			<div class="content-panel">
				<div class="alert alert-light">
					<h4 class="text-center">
						<strong>Informations</strong>
					</4>
				</div>
				<table class="table">

					<tbody>

						<tr>
							<th>Nom</th>
							<td>{{ prospect.nom }}</td>
						</tr>
						<tr>
							<th>Prenom</th>
							<td>{{ prospect.prenom }}</td>
						</tr>
						<tr>
							<th>Phone</th>
							<td>{{ prospect.phone }}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{ prospect.email }}</td>
						</tr>
						<tr>
							<th>Gender</th>
							<td>{{ prospect.gender }}</td>
						</tr>
						<tr>
							<th>City</th>
							<td>{{ prospect.city }}</td>
						</tr>
						<tr>
							<th>Adress</th>
							<td>{{ prospect.adress }}</td>
						</tr>
						<tr>
							<th>BrithAt</th>
							<td>{{ prospect.brithAt ? prospect.brithAt|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
						<tr>
							<th>Source</th>
							<td>{{ prospect.source }}</td>
						</tr>
						<tr>
							<th>TypeProspect</th>
							<td>{{ prospect.typeProspect }}</td>
						</tr>
						<tr>
							<th>RaisonSociale</th>
							<td>{{ prospect.raisonSociale }}</td>
						</tr>
						<tr>
							<th>CodePost</th>
							<td>{{ prospect.codePost }}</td>
						</tr>
						<tr>
							<th>Gsm</th>
							<td>{{ prospect.gsm }}</td>
						</tr>
						<tr>
							<th>Assurer</th>
							<td>{{ prospect.assurer }}</td>
						</tr>
						<tr>
							<th>LastAssure</th>
							<td>{{ prospect.lastAssure }}</td>
						</tr>
						<tr>
							<th>MotifResil</th>
							<td>{{ prospect.motifResil }}</td>
						</tr>
						<tr>
							<th>MotifSaise</th>
							<td>{{ prospect.motifSaise }}</td>
						</tr>
						<tr>
							<th>Url</th>
							<td>{{ prospect.url }}</td>
						</tr>
						<tr>
							<th>SecdEmail</th>
							<td>{{ prospect.secdEmail }}</td>
						</tr>
						<tr>
							<th>CreatAt</th>
							<td>{{ prospect.creatAt ? prospect.creatAt|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
						<tr>
							<th>Activites</th>
							<td>{{ prospect.activites }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group col-sm-4">
			<div class="content-panel">
				<div class="alert alert-light">
					<h4 class="text-center">
						<strong>Relances</strong>
					</4>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-4">
			<div class="content-panel">
				<div class="alert alert-light">
					<h4 class="text-center">
						<strong>Historique</strong>
					</4>
				</div>
			</div>
		</div>

		{# <a href="{{ path('app_prospect_index') }}">back to list</a>
																																																															
																																																																	<a href="{{ path('app_prospect_edit', {'id': prospect.id}) }}">edit</a> #}


	{% endblock %}
