{% if app.user is not null %}

	{% set page = app.request.get('_route') %}


	<p class="centered">
		<a href="#">
			<img src=" {{ asset('../images/newLogo.jpg') }}" class="img-circle" width="80" alt="">
		</a>
	</p>

	<h5 class="centered">{{ app.user.username  }}</h5>
	<h5 class="centered">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% if app.user.fonction is not empty %}

				<p>
					{{  app.user.fonction }}

				</p>

			{% endif %}
		{% endif %}

	</h5>

	{# {% for team in user.teams %}
																																														<h5 class="centered">{{  team  }}</h5>
																																													{% endfor %} #}
	<!-- DASHBOARD -->


	<li class="sub-menu">
		<a class="nav-link " href="#">
			<i class="fa fa-dashboard"></i>
			<span>Dashboard
			</span>
		</a>
	</li>

	<!-- END DASHBOARD -->


	<!-- Traitement Prospect -->
	{% if is_granted('ROLE_AFFECT') or is_granted('ROLE_PROS') or is_granted('ROLE_ADD_PROS') or is_granted('ROLE_TEAM') or is_granted('ROLE_ADMIN') or is_granted('ROLE_EDIT_PROS') == true %}

		<li class="sub-menu">
			<a class="nav-link " href="#">
				<i class="fa fa-diamond "></i>
				<span>Traitement
				</span>
			</a>
		</li>
	{% endif %}
	<!-- END Traitement Prospect -->

	<!--  Stat -->
	{% if is_granted('ROLE_TEAM')  == true %}
		<li class="sub-menu">
			<a class="nav-link {% if page in ['dashboard', 'prospects_calandri' ] %}active{% endif %}" href="javascript:;">
				<i class="fa fa-pie-chart" aria-hidden="true"></i>
				<span>Statistique</span>
			</a>
			<ul class="sub">
				{% if is_granted('ROLE_ADMIN') == true %}
					<li>
						<a class="nav-link " href="#">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<span>Stat Génerale
							</span>
						</a>
					</li>
				{% endif %}
				<li>
					<a class="nav-link " href="{{ path('app_home') }}">
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						<span>Stat du jour
						</span>
					</a>
				</li>
			</ul>
		</li>
	{% endif %}
	<!-- END  Stat -->

	<!-- RH< -->
	{% if is_granted("ROLE_RH") or is_granted('ROLE_ADD_RH') or is_granted('ROLE_EDIT_RH')  == true %}
		<li class="sub-menu">
			<a class="nav-link {% if page in ['attributte_index', 'attributte_new', '#', '#'] %}active{% endif %}" href="javascript:;">
				<i class="fa fa-address-card"></i>
				<span>Gestion RH</span>
			</a>

			<ul class="sub">
				{% if is_granted('ROLE_ADD_RH') == true %}
					<li>
						<a href="#">Ajouter
						</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_EDIT_RH') == true %}
					<li>
						<a href="#">Gérer
						</a>
					</li>
				{% endif %}
			</ul>
		</li>
	{% endif %}
	<!-- END RH< -->


	<!-- Clients -->

	{% if is_granted('ROLE_AFFECT') or is_granted('ROLE_PROS') or is_granted('ROLE_ADD_PROS') or is_granted('ROLE_TEAM') or is_granted('ROLE_ADMIN') or is_granted('ROLE_EDIT_PROS') == true %}

		<li class="sub-menu">
			<a class="nav-link " href="#">
				<i class="fa fa-diamond "></i>
				<span>Clients
				</span>
			</a>
		</li>
	{% endif %}

	<!-- END Clients -->


	<!-- Pramétres -->

	{% if is_granted('ROLE_ADMIN')  == true %}
		<li class="sub-menu">

			<a class="nav-link {% if page in ['user_index', 'user_new', 'user_edit', 'user_show', 'app_team_new', 'app_team_index', 'app_team_show', 'app_team_edit', 'fonction_index', 'fonction_new', 'fonction_show', 'fonction_edit','app_product_index', 'app_product_new', 'app_product_show', 'app_product_edit'] %}active{% endif %}" href="javascript:;">
				<i class="fa fa-cogs"></i>
				<span>Paramettre</span>
			</a>

			<ul
				class="sub">

				<!-- USERS -->
				<li class="sub-menu">

					<a class="nav-link {% if page in ['user_index', 'user_new', 'user_edit', 'user_show'] %}active{% endif %}" href="javascript:;">
						<i class="fa fa-user-circle"></i>
						<span>Utilisateurs</span>
					</a>

					<ul class="sub">
						<li>
							<a href="{{ path('app_user_new') }}">Ajouter un user</a>
						</li>
						<li>
							<a href="{{ path('app_user_index') }}">Gérer les Users</a>
						</li>
						{# <li>
																																											<a href="{{ path('user_acces') }}">Gérer les Sessions</a>
																																										</li> #}
					</ul>
				</li>
				<!-- END USERS -->


				<!-- Produits -->
				<li class="sub-menu">
					<a class="nav-link {% if page in ['app_product_index', 'app_product_new', 'app_product_show', 'app_product_edit'] %}active{% endif %}" href="javascript:;">
						<i class="fa fa-product-hunt"></i>
						<span>Produits</span>
					</a>

					<ul class="sub">
						<li>
							<a href="#">Ajouter un Produit</a>
						</li>
						<li>
							<a href="#">Gérer les Produits</a>
						</li>
					</ul>
				</li>
				<!-- END Produits -->

				<!-- Equipe -->
				<li class="sub-menu">
					<a class="nav-link {% if page in ['app_team_new', 'app_team_index', 'app_team_show', 'app_team_edit'] %}active{% endif %}" href="javascript:;">
						<i class="fa fa-users"></i>
						<span>Equipe</span>
					</a>

					<ul class="sub">
						<li>
							<a href="#">Ajouter un Equipe</a>
						</li>
						<li>
							<a href="#">Gérer les Equipes</a>
						</li>
					</ul>
				</li>
				<!-- END Equipe -->

				<!-- Ringover -->
				<li
					class="sub-menu">{# <a class="nav-link " href="{{ path('ringover-api') }}">
																								<i class="fa fa-upload" aria-hidden="true"></i>
																								<span>Appels
																								</span>
																							</a> #}
				</li>
				<!-- END Ringover -->

			</ul>
		</li>
	{% endif %}
	<!-- END Prammetre -->


	<!-- bibliothèque -->
	<li class="sub-menu">
		<a class="nav-link {% if page in ['red_bebltq', 'aide_show'  ] %}active{% endif %}" href="javascript:;">
			<i class="fa fa-tags"></i>
			<span>bibliothèque</span>
		</a>

		<ul class="sub">

			<li>
				<a class="nav-link " href="#">
					<i class="fa fa-book" aria-hidden="true"></i>
					<span>Règles souscription
					</span>
				</a>
			</li>

			<li class="sub-menu">
				<a href="#">
					<i class="fa fa-question-circle" aria-hidden="true" style="font-size: 20px;"></i>
					<span>Aide</span>
				</a>
			</li>
		</ul>
	</li>
	<!-- END bibliothèque -->
{% endif %}
