<div class="sidebar-toggle-box">
	<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
</div>
<!-- LOGO -->
<a href="\" class="logo">
	<b>Aksam<span>
			V2</span>
	</b>
</a>
<!-- END LOGO -->
{% if app.user is not null %}
	<div class="nav notify-row d-flex justify-content-end gap-3" id="top_menu">
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AFFECTALL') or is_granted('ROLE_CHEF')   %}

			<li id="header_notification_bar" class="dropdown me-3">
				<a href="{{ path('app_prospect_index') }} " class="text-white">
					<i class="fa-solid fa-share-from-square fa-2x"></i>AFFECTATIONS&emsp;&emsp;&emsp;&emsp;
					{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AFFECTALL')   %}
						<span class="badge bg-warning fs-4">{{ " %02d"|format(stats.prospectspasaffect ?? 0 ) }}</span>
					{% elseif is_granted('ROLE_CHEF')   %}
						<span class="badge bg-warning fs-4">{{ " %02d"|format(stats.prospectsChefNvAll ?? 0 ) }}</span>
					{% endif %}
				</a>
			</li>

		{% endif %}
		<li>&emsp;</li>
		{% if  is_granted('ROLE_COMRC') or is_granted('ROLE_CHEF')    %}

			<li id="header_notification_bar" class="dropdown me-3">
				<a href="{{ path('newprospectchef_index') }}" class="text-white">
					<i class="fa fa-undo fa-2x"></i>
					NOUVEAUX &emsp;&emsp;&emsp;
					<span class="badge bg-success fs-4 ms-2">{{ stats.prospectsCmrclNv ?? 0 }}</span>
				</a>
			</li>
		{% endif %}
		<li>&emsp;</li>
		<li id="header_notification_bar" class="dropdown me-3">
			<a href="{{ path('notrait_index') }}" class="text-white">
				<i class="fa fa-user-plus fa-2x"></i>
				PROSPECTS NON TRAITÉS&emsp;&emsp;&emsp;&emsp;
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AFFECTALL') == true   %}
					<span class="badge bg-info fs-4">{{ " %02d"|format(stats.prospectsNoTraite ?? 0 ) }}</span>
				{% elseif is_granted('ROLE_CHEF') == true %}
					<span class="badge bg-info fs-4">{{ " %02d"|format(stats.prospectsNoTrChef ?? 0 ) }}</span>
				{% elseif is_granted('ROLE_USER') == true %}
					<span class="badge bg-info fs-4">{{ " %02d"|format(stats.prospectsNoTrCmrcl ?? 0 ) }}</span>
				{% endif %}
			</a>
		</li>
		<li>&emsp;</li>
		<li id="header_notification_bar" class="dropdown me-3">
			<a href="{{ path('relancejour_index') }}" class="text-white">
				<i class="fa-solid fa-calendar-day fa-2x"></i>
				RELANCES DU JOUR&emsp;&emsp;&emsp;&emsp;
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AFFECTALL') == true   %}
					<span class="badge bg-primary fs-4">{{ " %02d"|format(stats.prospectsDay ?? 0 ) }}</span>
				{% elseif is_granted('ROLE_CHEF') == true %}
					<span class="badge bg-primary fs-4">{{ " %02d"|format(stats.prospectsDayChef ?? 0 ) }}</span>
				{% elseif is_granted('ROLE_USER') == true %}
					<span class="badge bg-primary fs-4">{{ " %02d"|format(stats.prospectsDayCmrcl ?? 0 ) }}</span>
				{% endif %}
			</a>
		</li>
	</div>

{% endif %}
<div
	class="nav notify-row" id="top_menu">
	<!-- NOTIFICATION START -->
	<ul
		class="nav top-menu">

		<!-- NOTIFICATION DROPDOWN -->
		<li id="header_notification_bar" class="dropdown">

			{% if app.user is not null %}
				{% if app.request.get('_route') == 'newprospect_index' or app.request.get('_route')  == 'prospect_search' or app.request.get('_route')  == 'relancejour_index' or app.request.get('_route')  == 'app_unjoinable' or app.request.get('_route')  == 'notrait_index' %}
					<a data-toggle="dropdown" class="dropdown-toggle" href="{{path('app_traitement')}}">
						<i class="fa fa-shopping-cart"></i>
						<span class="badge bg-warning fs-4">{{ prospects|length }}</span>
					</a>
					{# <a data-toggle="dropdown" class="dropdown-toggle" href="#">
																																																																																																																																																																																																																																																																																																																																																																																																																																					<i class=" fa fa-shopping-cart"></i>
																																																																																																																																																																																																																																																																																																																																																																																																																																					<span class="badge bg-warning fs-4">{{ contrats|length }}</span>
																																																																																																																																																																																																																																																																																																																																																																																																																																				</a> #}

				{% elseif app.request.get('_route') == 'prospect_search' %}
					<span class="badge bg-warning fs-4"></span>

				{% endif %}


			{% endif %}
		</li>
	</ul>
	<!-- END NOTIFICATION START -->
</div>


<div class="top-menu d-flex justify-content-end">
	<ul class="nav pull top-menu">
		<li>
			<a class="logout" href="/{{app.user ? 'logout' : 'login'}}" @click="isOpen = false">
				{{ app.user ? 'Se déconnecter' : 'Connectez vous' }}
			</a>
		</li>
	</ul>
</div>
