{% extends 'base.html.twig' %}

{% block title %}Statistiques des contrats du mois
{% endblock %}

{% block body %}
	{% for label,  messages in app.flashes  %}
		<div class="container">
			<div class="alert alert-{{ label }}">
				{% for message in messages %}
					{{ message | raw }}
				{% endfor %}

			</div>
		</div>
	{% endfor %}
	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
				<section class="content-header">

					<h1 style="text-align: center;">Chiffres d'Affaires du Mois
					</h1>


					<div style="text-align: right;">

						<button type="button" type="button" class="btn btn-theme">
							<a href="#">CHERCHER PAR CALENDRIER</a>
						</button>
					</div>

					<ol class="breadcrumb">
						<li>
							<a href="{{ path('app_home') }}">
								<i class="fa fa-dashboard"></i>
								Tableau de bord</a>
						</li>
					</ol>
				</section>


				<hr>
				<table id="table-datatables" class="display">
					<thead>
						<tr>
							<th>Commercial</th>
							<th>Nombre de contrats</th>
							<th>Total des frais</th>
							<th>1er règlement</th>
							<th>2ème règlement</th>
						</tr>
					</thead>
					{# <tbody>
																																																																							{% for user, contrats in groupedContrats %}
																																																																								<tr>
																																																																									<td colspan="3">
																																																																										<strong>{{ user }}</strong>
																																																																									</td>
																																																																								</tr>
																																																																								{% for contrat in contrats %}
																																																																									<tr>
																																																																										<td></td>
																																																																										<td>{{ contrat.nom }}</td>
																																																																										<td>
																																																																											{% set total = 0 %}
																																																																											{% for reglement in contrat.regelement %}
																																																																												{% set total = total + reglement.montantReglement %}
																																																																											{% endfor %}
																																																																											{{ total|number_format(2, ',', ' ') }}
																																																																											€
																																																																										</td>
																																																																									</tr>
																																																																								{% endfor %}
																																																																							{% endfor %}
																																																																						</tbody> #}
					<tbody>
						{% for username, contrats in groupedContrats %}
							{% set showUsername = true %}
							{% set totalReglement = 0 %}

							{% for contrat in contrats %}
								{% set montant = 0 %}
								{% for reglement in contrat.regelement %}
									{% set montant = montant + reglement.montantReglement %}

									<tr>
										{# Affiche le nom du commercial uniquement à la première ligne #}
										{% if showUsername %}
											<td rowspan="{{ contrats|length * contrat.regelement|length }}">
												<strong>{{ username }}</strong>
											</td>
											{% set showUsername = false %}
										{% endif %}

										<td>{{ reglement.transaction }}</td>
										<td>{{ contrat.nom }}</td>
										<td>{{ contrat.prenom }}</td>

										<td>{{ reglement.montantReglement|number_format(2, ',', ' ') }}
											€</td>
									</tr>
								{% endfor %}
								{% set totalReglement = totalReglement + montant %}
							{% endfor %}

							<tr>
								<td colspan="3" style="text-align: right;">
									<strong>Total pour
										{{ username }}</strong>
								</td>
								<td>
									<strong>{{ totalReglement|number_format(2, ',', ' ') }}
										€</strong>
								</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>

			</div>
		</div>
	</div>
</div>{% endblock %}{% block javascripts %}
{{ parent() }}<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src='/js/tabledata.js'></script>{% endblock %}
