{% extends 'base.html.twig' %}

{% block title %}Statistiques des contrats du mois
{% endblock %}

{% block body %}
	{% for label,  messages in app.flashes  %}
		<div class="container">
			<div class="alert alert-{{ label }}">
				{% for message in messages %}
					{{ message | raw }}
				{% endfor %}

			</div>
		</div>
	{% endfor %}
	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
				<section class="content-header">

					<h1 style="text-align: center;">Chiffres d'Affaires du Mois
					</h1>


					<div style="text-align: right;">

						<button type="button" type="button" class="btn btn-theme">
							<a href="#">CHERCHER PAR CALENDRIER</a>
						</button>
					</div>

					<ol class="breadcrumb">
						<li>
							<a href="{{ path('app_home') }}">
								<i class="fa fa-dashboard"></i>
								Tableau de bord</a>
						</li>
					</ol>
				</section>


				<hr>
				<table id="table-datatables" class="display">
					<thead>
						<tr>
							<th>Commercial</th>
							<th>Nom
							</th>
							<th>
								frais declarer</th>

							<th>
								frais en caisses</th>
						</tr>
					</thead>
					<tbody>
						{% set grandTotalFrais = 0 %}
						{% set grandTotalCredit = 0 %}

						{% for user in users %}
							{% set contrats = user.contrats %}

							{% if contrats is not empty %}
								{% set isFirst = true %}
								{% set totalFrais = 0 %}
								{% set totalCredit = 0 %}
								{% for contrat in contrats %}
									{% set totalFrais = totalFrais + (contrat.frais ?? 0) %}
									<tr>
										{% if isFirst %}
											<td rowspan="{{ contrats|length + 1 }}">
												{{ user.username }}
											</td>
											{% set isFirst = false %}
										{% endif %}
										<td>{{ contrat.nom }}</td>
										<td>{{ contrat.frais|number_format(2, ',', ' ') }}
											€</td>
										<td>
											{% for reglement in contrat.regelement %}
												{% if reglement.transaction %}
													{% set credit = reglement.transaction|credit_by_transaction %}
													<div>
														Transaction
														{{ reglement.transaction }}
														| Credit :
														<button class="btn btn-info">{{ credit }}</button>
														€
													</div>
													{% set totalCredit = totalCredit + credit %}
												{% endif %}
											{% endfor %}
										</td>
									</tr>
								{% endfor %}
								<tr style="font-weight: bold;">
									<td>Total pour
										{{ user.username }}</td>
									<td>{{ totalFrais|number_format(2, ',', ' ') }}
										€</td>
									<td>{{ totalCredit|number_format(2, ',', ' ') }}
										€</td>
								</tr>
								{% set grandTotalFrais = grandTotalFrais + totalFrais %}
								{% set grandTotalCredit = grandTotalCredit + totalCredit %}
							{% endif %}
						{% endfor %}
						{# ✅ Ligne totale générale à la fin du tableau #}
						<tr style="font-weight: bold; background-color: #e0e0e0;">
							<td colspan="2" class="text-right">Total général :</td>
							<td>{{ grandTotalFrais|number_format(2, ',', ' ') }}
								€</td>
							<td>{{ grandTotalCredit|number_format(2, ',', ' ') }}
								€</td>
						</tr>
					</tbody>


				</table>

			</div>
		</div>
	</div>
</div>{% endblock %}{% block javascripts %}
{{ parent() }}<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src='/js/tabledata.js'></script>{% endblock %}
